/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

a.learn-more::before {
  content: "Mehr erfahren >"
}

a.action.load-more::before {
  content: "Mehr Artikel laden"
}

.articles-empty::before {
  content: "Keine Artikel gefunden"
}

.author-page .articles-empty::before {
  content: 'Dieser Autor hat noch keine Artikel publiziert';
}

.topic-page .articles-empty::before {
  content: 'Keine Artukel in dieser Kategorie gefunden';
}

.post-page .latest-posts::before {
  content: "F체r Dich empfohlen";
}

.post-page .products::before {
  content: "Adobe-Produkte in diesem Artikel";
}

.social::before {
  content: "Folge mir auf";
}

.language-Navigation_heading::before {
  content: "Region w채hlen";
}

.language-Navigation_subheading::before {
  content: "Durch das Ausw채hlen einer Region werden Sprache und/oder Inhalt der Website von Adobe ge채ndert.";
}
