/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 a.learn-more::before {
  content: "Aprende más"
}

a.action.load-more::before {
  content: "Cargar más artículos"
}

.post-page .articles::before {
  content: "Recomendado para ti";
}

.articles-empty::before {
  content: "No se encontraron artículos";
}

.author-page .articles-empty::before {
  content: 'No se han encontrado artículos de este autor.';
}

.topic-page .articles-empty::before {
  content: 'No se han encontrado artículos en esta categoría';
}

.social::before {
  content: "Síguenos en";
}

.blank-page.error-404 main h2::before {
  content: 'Estas son aguas inexploradas.';
}

.blank-page.error-404 main p.detail::before {
  content: "Lo siento, no se puede encontrar esa página.";
}

.blank-page.error-404 main .gotohome::before {
  content: 'Ir a la página de inicio ›';
}

.blank-page.error-404 main .searchadobe::before {
  content: 'Buscar en Adobe.com ›';
}

.topic-page .dropdown-menu .search input::after  {
  content: "Buscar";
}

.topic-page .filter-wrapper a.action.apply::before {
  content: "Aplicar";
}

.topic-page .filter-wrapper a.action.clear::before {
  content: "Reiniciar";
}

.topic-page .selection::before {
  content: "Mostrando artículos para";
}

.topic-page .selection a.user-filter::before {
  content: "Quitar $1";
}

.topic-page .articles-empty.user-filters::before {
  content: "Lo sentimos, ningun resultado corresponde";
}

.topic-page .articles-empty.user-filters .user-help:before {
  content: "Vuelva a intentar seleccionar menos filtros o borrar todas las selecciones.";
}

.topic-page .selection a.action.clear-all::before {
  content: "Borrar todo";
}

.filter-wrapper .filter:first-child::before {
  content: "Filtros";
}

.filter .products button::before {
  content: "Productos";
}

.filter .industries button::before {
  content: "Industrias";
}


