/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

a.learn-more::before {
  content: "Mehr erfahren >"
}

a.action.load-more::before {
  content: "Mehr Artikel laden"
}

.post-page .articles::before {
  content: "Für Sie empfohlen";
}

.articles-empty::before {
  content: "Keine Artikel gefunden"
}

.author-page .articles-empty::before {
  content: 'Dieser Autor hat noch keine Artikel publiziert';
}

.topic-page .articles-empty::before {
  content: 'Keine Artikel in dieser Kategorie gefunden';
}

.post-page .products::before {
  content: "Adobe-Produkte in diesem Artikel";
}

.social::before {
  content: "Folgen Sie mir auf";
}

.blank-page.error-404 main h2::before {
  content: "Die Seite wurde leider nicht gefunden.";
}

.blank-page.error-404 main p.detail::before {
  content: "";
}

.blank-page.error-404 main .gotohome::before {
  content: 'Zur Homepage ›';
}

.blank-page.error-404 main .searchadobe::before {
  content: 'Adobe.com durchsuchen ›';
}

.topic-page .dropdown-menu .search input::after  {
  content: "Durchsuchen...";
}

.topic-page .filter-wrapper a.action.apply::before {
  content: "Anwenden";
}

.topic-page .filter-wrapper a.action.clear::before {
  content: "Zurücksetzen";
}

.filter-wrapper .selection::before {
  content: "Artikel anzeigen mit: ";
}

.filter-wrapper .selection span:not(:last-child)::after {
  content: ", "
}

.topic-page .articles-empty.user-filters::before {
  content: "Tut uns leid, es gab keine Treffer";
}

.topic-page .articles-empty.user-filters .user-help:before {
  content: "Bitte versuchen Sie es mit weniger Filtern, oder löschen Sie alle.";
}

.articles-empty.user-filters a.action.clear-all::before {
  content: "Alle löschen";
}

.filter-wrapper .filter:first-child:before {
  content: "Filters";
}

@media (min-width:600px) {
  .filter-wrapper .filter:first-child::before {
    content: "Filters";
  }

  .filter-wrapper .filter-bar a.action.clear-all::before {
    content: "Alle löschen";
  }
  
}
