/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

*,
*:before,
*:after {
   box-sizing: border-box;
   border: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: adobe-clean, sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5em;
}

/* hide to avoid flickering until class is applied to body */
main {
  visibility: hidden;
}

.home-page main,
.post-page main,
.topic-page main,
.author-page main {
  visibility: visible;
}

.default {
  padding: 1rem 2rem;
}

.image {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.image img {
  width: 100%;
}

.default img {
  max-width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25em;
  margin: 0.25em 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}


h3 {
  font-size: 20px;
}

h4, h5, h6 {
  font-size: 16px;
}

.detail-m, .detail-l, .detail-xl {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.detail-m {
  font-size: 12px;
}

.detail-l {
  font-size: 14px;
}

.detail-xl {
  font-size: 16px;
}

p, .body-l, .body-m, .body-xl {
  margin: 0.5em 0;
  line-height: 1.5em;
}

p, .body-xl {
  font-size: 20px; 
}

.body-l {
  font-size: 18px; 
}

.body-m {
  font-size: 16px; 
}


a {
  color: #2c6d9f;
  text-decoration: underline;
}

pre {
  background-color: lightgrey;
  padding: 1em;
  border-radius: 1em;
  overflow: hidden;
}

code {
  font-size: 1.1em;
}

h3 code {
  font-size: 1em;
  font-family: inherit;
  background-color: lightgrey;
}

p code,li code {
  background-color: lightgrey;
  padding: 0 2px;
}

table th, table td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table th {
  font-weight: 600;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header,
header h5,
footer,
footer h5 {
  font-family: adobe-clean,sans-serif;
}

header a:any-link,
footer a:any-link {
  text-decoration: none;
}

header:empty, footer:empty {
  display: none;
}

a.learn-more::before {
  content: "Learn more >"
}

a.action {
  width: fit-content;
  border-radius: 22px;
  font-size:1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 4px 16px;
  cursor: pointer;
}

a.action:disabled {
  border: none;
  color: #bcbcbc;
}

a.action.primary {
  border: solid #505050 3px;
  color: #505050;
}

a.action.primary:hover {
  color: white;
  background-color: #505050;
}

a.action.primary:active {
  color: white;
  background-color: #323232;
}

a.action.secondary {
  color: #747474;
  border: solid currentColor 2px;
}

a.action.secondary:hover {
  color: white;
  background-color: #747474;
}

a.action.secondary:active {
  color: white;
  background-color: #505050;
}

a.action.call-to-action {
  border: solid #1673e6 3px;
  color: white;
  background-color: #1673e6;
}

a.action.call-to-action:hover {
  color: white;
  background-color: #0e65d0;
}

a.action.call-to-action:active {
  color: white;
  background-color: #095abb;
}

a.load-more {
  margin: 0 auto 2rem auto;
}

a.action.load-more::before {
  content: "Load more articles"
}

.post-page main {
  display: grid;
  grid-template-areas: "hero-image"
                       "post-header"
                       "post-body"
                       "topics"
                       "articles";
}

.post-page .post-title {
  text-align: left;
  color: #363636;
  margin: 0 32px;
  padding: 0;
}

.post-page .post-title h3:empty {
  display: none;
}

.post-page .hero-image {
  grid-area: hero-image;
  width: 100%;
  padding: 0;
  margin: 0;
}

.post-page main .hero-image img {
  width: 100%;
  object-fit: cover;
  height: 220px;
}


/* hero caption */
.post-page main div.hero-image p {
  margin: 0;
}

.post-page main p + p {
  margin-top: 1.5em;
}

.post-page main div.hero-image p:nth-of-type(2) {
  text-align: right;
  width: 100%;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5;
  padding-right: 20px;
}

.post-page main div.post-header {
  grid-area: post-header;
  align-self: center;
  margin-top: 32px;
}

.post-page main div.post-header > .post-author {
  margin-top: 20px;
  height: 64px;
  padding-top: 0;
  padding-bottom: 0;
}


.post-page main>div.post-body .images img {
  margin-top: 64px;
}

.post-page main>div.post-body {
  grid-area: post-body;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 30px;
}

.post-page main>div.topics {
  grid-area: topics;
}

.post-page main>div.articles {
  grid-area: articles;
  padding-top: 80px;
}

.post-page main>div.products {
  grid-area: products;
  border-style: solid;
  border-color: #dddddd;
  border-width: 2px 0 2px 0;
  margin: 16px 32px;
  text-align: center;
  display: none;
}

.post-page main>div.products .prod-design {
  display: flex;
}

.post-page main>div.products .prod-design p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: 700;
  display: none;
}

.post-page main>div.products .prod-design a {
  font-size: 1em;
  font-weight: 400;
  color: #4682E1;
  text-decoration: none;
}
.post-page div.category {
  margin: 0 32px;
  padding: 0;
}

.post-page div.category a {
  text-decoration: none;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 0.8em;
}

.post-page .author {
  text-align: left;
  color: #363636;
  font-size: 0.9em;
  line-height: 1.5em;
}

.post-page .author .author-summary {
  display: flex;
  align-items: center;
}

.post-page .author img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 15px;
  display: block;
  object-fit: cover;
}

.post-page .author .post-author {
  font-weight: 600;
  display: block;
}


.post-page .author .post-author a {
  text-decoration: none;
  color: currentColor;
}

.post-page .topics {
  margin: 24px auto 56px auto;
  padding: 0;
  text-align: center;
}

.post-page .topics a {
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  color: rgb(10,10,10);
  position: relative;
  font-weight: 500;
  font-size: .693rem;
  z-index: 1;
  padding: 16px 14px 16px 14px;
  position: relative;
  background: #fff;
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  margin: 0 15px 10px 0;
  display: inline-block;
}

.post-page .topics a:hover {
  color: #007bff;
}

.post-page .articles::before {
  content: "Recommended for you";
  font-size: 1.5rem;
  display: block;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.post-page .products {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #363636;
  line-height: 1.3em;
}

.post-page .products::before {
  content: "Adobe products in this article";
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 0.7em;
  width: 100%;
  padding: 16px 0;
  line-height: 1.3em;
}

.post-page main>div.post-body p+h2, .post-page main>div.post-body div+h2,
.post-page main>div.post-body p+h3 {
  margin-top: 64px;
}

.post-page .products a {
  margin: 0 .125rem .5rem;
  font-size: .75rem;
}

.post-page .products a img {
  width: 45px;
  height: 45px;
  margin: 0 .188rem;
}

.post-page .social::before {
  content: "Follow me on";
  display: block;
  margin-bottom: 5px;
  color: rgb(10,10,10);
  text-align: center;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: adobe-clean,sans-serif;
  font-size: .75rem;
  line-height:18px;
  font-weight: 600;
  letter-spacing: .02em;
  user-select: text;
}

.post-page .social {
  margin: 0 auto 50px auto;
  text-align:center;
}

.post-page .social svg {
  fill: #000;
  height: 1em;
  width: 1em;
  margin: 0 10px;
}

.post-page main>div.post-body>p.images.left {
  text-align: left;
}

.post-page main>div.post-body>p.images.left>img {
  float: left;
  padding-right: 16px;
  margin-top: 0;
}


.author .social {
  margin: 0;
  width: auto;
}

.author .social svg {
  margin: 0 5px;
}

.articles {
  background-color: #eaeaea;
  text-align: center;
  padding: 0 0 80px 0;
}

.articles-empty {
  width: 100%;
  margin-bottom: 48px;
  text-align: middle;
}

.articles-empty::before {
  content: "No articles found";
  display: inline;
  margin: 0 auto;
}

.deck {
  margin: 0 auto;
  padding: 48px 32px 0 32px;
  min-width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  width: 100%;
  min-width: 220px;
  max-width: 379px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: solid 1px #eaeaea;
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
}

.card .hero {
  width: 100%;
  padding-bottom: 66.67%; /* 3:2 aspect ratio */
  position: relative;
  background-color: #eaeaea;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card .hero img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card .hero:hover {
  background-color: black;
}

.card .hero img:hover {
  opacity: 0.6;
}

.card .hero img[src="#"] {
  /* hide if hero image missing */
  visibility: hidden;
}

.card a {
  text-decoration: none;
  color: currentColor;
}

.card .content {
  position: relative;
  padding: 2rem;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card .content p {
  margin: 0;
  font-size: 0.875rem;
}

.card p.topic,
.card p.date {
  color: #707070;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 600;
}

.card p.topic {
  margin-bottom: 0.5rem;
}

.card h2 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #2c2c2c;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card p.teaser {
  color: #747474;
  font-size: 0.875rem;
  line-height: 1rem;
  height: 2rem;
  overflow: hidden;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  display: none;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card p.date {
  display: none;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding: 30px 10px;
  font-family: adobe-clean,sans-serif;
  margin-top: 48px;
}

.banner .banner-left, .banner .banner-right {
  flex: 0 0 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 10px 20px
}

.banner .banner-left img {
  width: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.banner .banner-left h1 {
  padding-bottom: .2rem;
  font-size: 2.3rem;
  font-weight: 200;
  line-height: 2.8rem;
  text-align: center;
  margin: 0;
}

.banner .banner-right a {
  padding: 10px 30px;
  border: solid 1px #fff;
  border-radius: 5px;
  font-size: .8rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 500;
}

.banner .banner-right p {
  margin-bottom: 1.75rem;
  margin-top: 0;
  line-height: 24px;
  font-size: 0.9rem;
  text-align: left;
  font-weight: 500;
}


.home-page main {
  display: grid;
  grid-template-areas: "featured"
                       "news-box"
                       "articles"
                       "load-more"
                       "inspiration";
}

.home-page main .default {
  padding: 0;
}

.home-page main .articles {
  grid-area: articles;
  background: white;
  padding-bottom: 80px;
}

.home-page .featured.card {
  width: 100%;
  max-width: unset;
  border: none;
  grid-area: featured;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home-page .featured.card .hero {
  height: 320px;
  border-radius: 0;
}

.home-page .featured.card .hero img {
  border-radius: 0;
}

.home-page .featured.card h2 {
  font-size: 1.75rem;
  line-height: 2.2rem;
  color: #4b4b4b;
  margin-bottom: 1rem;
}

.home-page .featured.card .content {
  text-align: center;
  width: 100%;
  padding-bottom: 0;
  border-radius: 0;
}

.home-page .featured.card .teaser {
  margin-bottom: 1.5rem;
  color: #707070;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.5rem;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.home-page .featured.card .date {
  display: block;
}

.home-page a.load-more {
  grid-area: load-more;
}

.home-page main .news-box {
  grid-area: news-box;
  margin-top: 48px;
  background-color: #f4f4f4;
}

.home-page main .news-box .content {
  margin: 0 auto;
  padding: 48px 32px 0 32px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
}

.home-page main .news-box .content h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.home-page main .news-box .content p {
  margin-top: 0;
  margin-bottom: 0;
}

.home-page main .news-box p.button {
  margin-top: 8px;
}

.home-page .news-box .deck {
  padding-top: 32px;
  padding-bottom: 24px; 
}

.home-page .news-box .card {
  margin:0 0 24px 0;
  width: 100%;
  max-width: unset;
  display: flex;
  flex-flow: row nowrap;
}

.home-page .news-box .card .hero {
  padding-bottom: 0;
  height: 130px;
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.home-page .news-box .card .hero img {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.home-page .news-box .card .content {
  padding: 24px;
  height: 130px;
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.home-page .news-box .card .content h2 {
  font-size: 1rem;
  line-height: 1.25rem;
  min-height: 1.25rem;
  max-height: 3.75rem;
  margin-bottom: 0;
}

.home-page .news-box .card p.topic {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.home-page .news-box .card p.teaser,
.home-page .news-box .card p.date {
  display: none;
}


.hide-all {
  display: none;
}

.topic-page .articles,
.author-page  .articles {
  background-color: white;
}

.author-page .articles-empty {
  content: 'No articles found by this author';
}

.topic-page .articles-empty {
  content: 'No articles found under this topic';
}

.topic-page {
  /* header bg colors */
  --bg1: #2c0167;
  --bg2: #fd8467;
  --bg3: #83106a;
}

.topic-page main div.topic-title h1 {
  box-sizing: content-box;
  color: white;
  width: 100%;
  max-width: 379px;
  margin: auto;
  align-self: center;
  padding-left: 32px;
  padding-right: 32px;
}

.topic-page main div.topic-title img {
  display: none;
}

.topic-page main div.topic-title {
  height: 220px;
  padding: 0;
  background-color: var(--bg1); /* fallback bg color */
  display: flex;
  justify-content: start;
  background:
    radial-gradient(
      350px 100px at bottom left,
      var(--bg3),
      transparent 400px
    ),
    linear-gradient(
      to right,
      var(--bg1),
      var(--bg2)
    );
}

.author-page .default:first-of-type {
  background-color: #eaeaea;
  padding:0;
}

.author-page .bio {
  padding: 40px 32px;
}

.author-page .bio p {
  font-size: 1rem;
}

.author-page .bio .frame {
  font-size: 0;
  margin-bottom: 32px;
}

.author-page .bio .frame img {
  width: 124px;
}

/*
 * GetSocial floating share bar
 */
html div.gs-buttons {
  margin-top: -73px !important;
}

@media (min-width:600px) {

  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h5, h6 {
    font-size: 16px;
  }

  body {
    font-size: 1.25rem;
  }

  .deck {
    padding-left:64px;
    padding-right:64px;
    max-width: 912px;
  }

  .card {
    width: calc(100%/2 - 16px);
    margin-right: 32px;
    margin-bottom: 32px;
  }

  .card:nth-of-type(2n) {
    margin-right: 0;
  }

  .card a:hover {
    text-decoration: underline;
  }

  .card .content {
    box-sizing: content-box;
    height: 168px;
  }

  .card p.date {
    position: absolute;
    bottom: 2rem;
  }

  .card h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .card p.teaser {
    display: -webkit-box;
  }

  .card p.date {
    display: block;
  }

  .post-page main>div.post-header>div {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .post-page main>div.post-header,
  .post-page main>div.topics {
    margin-left: 128px;
    margin-right: 128px;
    padding-left: 0;
    padding-right: 0;
  }

  .post-page main>div.topics {
    margin-bottom: 80px;
  }

  .post-page main>div.post-body {
    margin-left: 64px;
    margin-right: 64px;
    padding: 0;  
  }

  .post-page main>div.post-body>* {
    margin-left: 64px;
    margin-right: 64px;  
  }

  .post-page main>div.post-body>p.images {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }

  .post-page main>div.post-body>p.images.left {
    margin-left: 64px;
    margin-right: 64px;
  }

  .post-page main>div.post-body>p.images>img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .post-page main>div.products .prod-design p {
    display: block;
  }

  .home-page .featured.card {
    height: unset;
    max-width: unset;
    flex-direction: row;
    align-items: center;
    margin: 40px 0 0 0;
    text-align: left;
  }

  .home-page .featured.card h2 {
    font-size: 2.25rem;
    line-height: 2.8rem;
  }

  .home-page .featured.card .hero {
    width: 40%;
    padding-bottom: 0;
  }

  .home-page .featured.card .content {
    width: 60%;
    height: 320px;
    text-align: left;
    box-sizing: border-box;
  }

  .home-page main .news-box .content,
  .home-page main .news-box .deck {
    width: 100%;
    max-width: 912px;
  }

  .home-page main .news-box .content {
    padding-left: 64px;
    padding-right: 64px;
  }

  .home-page main .news-box .deck {
    padding-left: 64px;
    padding-right: 64px;
  }

  .home-page main .news-box .card {
    width: 100%;
  }

  .topic-page main div.topic-title {
    padding: 0;
    height: 220px;
    background:
      radial-gradient(
        75% 250px at bottom left,
        var(--bg3),
        transparent 50%
      ),
      radial-gradient(
        25% 80px at top,
        var(--bg3),
        transparent 350px
      ),
      radial-gradient(
        45% 150px at bottom right,
        var(--bg3),
        transparent 400px
      ),
      radial-gradient(
        67% 350px at right,
        var(--bg2),
        transparent 75%
      ),
      linear-gradient(
        to right,
        var(--bg1),
        var(--bg1),
        var(--bg2)
      );
  }

  .topic-page main div.topic-title h1 {
    max-width: 784px;
    padding-left: 64px;
    padding-right:64px;
  }

  .author-page .author-bio h2 {
    font-size: 2.25rem;
  }

  .banner {
    flex-direction: row;
  }  

  /*
   * GetSocial floating share bar
   */
  html div.gs-buttons {
    margin-top: -172px !important;
  }

}

@media (min-width:1100px) {

  .deck {
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .card {
    width: calc(100%/3 - 22px);
  }

  .card:nth-of-type(2n) {
    margin-right: 32px;
  }

  .card:nth-of-type(3n) {
    margin-right: 0;
  }

  .post-page main  {
    padding-top: 16px;
    box-sizing: border-box;
  }  

  .post-page main .post-body {
    box-sizing: border-box;
  }

  .post-page main div.hero-image img {
    height: 360px;
  }

  .post-page main div.hero-image p:nth-of-type(2) {
    padding-right: 0;
  }

  .post-page main>div.products {
    width: 170px;
    padding: 0;
    border: 0;
    margin: 0;
  }

  .post-page main>div.products .prod-design {
    display: block;
  }
  
  .post-page main>div.products .prod-design>div{
    margin-top: 30px;
  }

  .post-page main {
    grid-template-areas: " . hero-image hero-image post-header post-header . "
                         " . .          post-body  post-body   . . "
                         " . .          topics     topics      . . "
                         "articles articles articles articles articles articles";
    grid-template-columns: auto 170px minmax(auto, 430px) minmax(auto, 430px) 170px auto;
  }

  .post-page main>div.category, .post-page main>div.post-title, .post-page main>div.author {
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 0px;
    padding-right: 64px;
  }

  .post-page main>div.post-body, .post-page main>div.post-header {
    margin: 0;
    padding: 0;
  }

  .post-page main>div.post-header {
    padding-left: 32px;
  }

  .home-page .featured.card {
    margin: 40px auto 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1200px;
  }

  .home-page .featured.card .hero {
    width: 60%;
  }

  .home-page .featured.card .content {
    width: 40%;
  }

  .home-page main .news-box p.button {
    position: absolute;
    margin-top: 0;
    top: 80px;
    right: 32px;
  }
  
  .home-page main .news-box .content,
  .home-page main .news-box .deck {
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .home-page main .news-box .content {
    position: relative;
  }

  .home-page main .news-box .content p:first-of-type {
    width: 80%;
  }

  .home-page main .news-box .card {
    width: calc(100%/3 - 22px);
    margin-right: 32px;
  }

  .home-page main .news-box .card:nth-of-type(3n) {
    margin-right: 0;
  }

  .topic-page main div.topic-title h1 {
    max-width: 1136px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .author-page .card,
  .topic-page .card {
      width: calc(100%/4 - 24px);
  }

  .author-page .card:nth-of-type(3n),
  .topic-page .card:nth-of-type(3n) {
      margin-right: 32px;
  }

  .author-page .card:nth-of-type(4n),
  .topic-page .card:nth-of-type(4n) {
      margin-right: 0;
  }

  .author-page .bio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 80px;
    display: flex;
    flex-flow: row nowrap;
  }
  
  .author-page .bio .frame {
    font-size: 0;
    min-width: 224px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .author-page .bio .frame img {
    width: 224px;
  }

  .author-page .bio .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .author-page .bio .summary h2 {
    margin-top: 0;
  }
}

.embed-soundcloud > iframe {
  height: 200px ! important;
}

/*
 * Workaround to hide duplicate AdChoices link.
 * See https://github.com/adobe/theblog/issues/141
 */
div.evidon-notice-link {
  display:none;
}

