/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 
 .author-page  .articles {
  background-color: white;
}

.author-page .articles-empty {
  content: 'No articles found by this author';
}

.author-page main > div:first-of-type {
  background-color: #f4f4f4;
  padding:0;
}

.author-page .bio {
  padding: 40px 32px;
}

.author-page .summary p,
.author-page .summary ul {
  font-size: 1rem;
  line-height: 1.25;
}

.author-page .summary ul {
  margin: 0.5rem 0;
  padding-inline-start: 1rem;
}

.author-page .frame {
  font-size: 0;
  margin-bottom: 32px;
}

.author-page .frame img {
  width: 124px;
}

.author-page .summary .social {
  padding-inline-start: 0;
}

.author-page .summary .social li {
  list-style: none;
  display: inline;
  margin-right: 16px;
}

.author-page .summary .social svg {
  opacity: 0.5;
  width: 1rem;
  height: 1rem;
}

.author-page .summary .social svg:hover {
  opacity: 0.8;
}

@media (min-width:600px) {

  .author-page .bio {
    padding: 40px 64px;
    max-width: 912px;
    margin: 0 auto;
  }

  .author-page .bio h2 {
    font-size: 2.25rem;
  }

}

@media (min-width:1100px) {

  .author-page .card {
      width: calc(100%/4 - 24px);
  }

  .author-page .card:nth-of-type(3n) {
      margin-right: 32px;
  }

  .author-page .card:nth-of-type(4n) {
      margin-right: 0;
  }

  .author-page .bio {
    max-width: 1200px;
    padding: 40px 122px;
    display: flex;
    flex-flow: row nowrap;
  }
  
  .author-page .bio .frame {
    font-size: 0;
    min-width: 224px;
    margin-right: 80px;
    margin-bottom: 0;
    align-self: center;
  }

  .author-page .bio .frame img {
    width: 224px;
  }

  .author-page .bio .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .author-page .bio .summary h2 {
    margin-top: 0;
  }

}
