/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.topic-page header,
.topic-page main,
.topic-page footer {
  visibility: visible;
}

.topic-page main .default:not(.articles) {
  padding: 0;
}

.topic-page  .articles {
  background-color: white;
}

.topic-page .articles-empty {
  visibility: hidden;
}

.topic-page .articles-empty::before {
  content: 'No articles found in this category';
}

.topic-page .articles-empty.user-filters {
  visibility: visible;
}

.topic-page .articles-empty.user-filters::before {
  content: "Sorry, no matching results";
  font-size: 1.125rem;
  font-weight: 700;
}

.topic-page .articles-empty .user-help {
  display:flex;
  flex-flow: column;
  align-items: center;
}

.articles-empty a.action.clear-all::before {
  content: "Clear all";
}


.topic-page .articles-empty .user-help:before {
  content: "Please try again selecting fewer filters or clearing all selections.";
  font-size: 1rem;
}

.topic-page {
  /* header bg colors */
  --bg1: #2c0167;
  --bg2: #fd8467;
  --bg3: #83106a;
}

.topic-page main div.topic-title h1 {
  color: white;
  width: calc(100% - 64px);
  max-width: 378px;
  margin: 0 auto;
  align-self: center;
}

.topic-page main div.topic-title img {
  display: none;
}

.topic-page main div.topic-title {
  height: 220px;
  padding: 0;
  background-color: var(--bg1); /* fallback bg color */
  display: flex;
  justify-content: start;
  background:
    radial-gradient(
      350px 100px at bottom left,
      var(--bg3),
      transparent 400px
    ),
    linear-gradient(
      to right,
      var(--bg1),
      var(--bg2)
    );
}

.topic-page .deck {
  padding-top: 32px;
}

@media (min-width:600px) {

  .topic-page main div.topic-title {
    padding: 0;
    height: 220px;
    background:
      radial-gradient(
        75% 250px at bottom left,
        var(--bg3),
        transparent 50%
      ),
      radial-gradient(
        25% 80px at top,
        var(--bg3),
        transparent 350px
      ),
      radial-gradient(
        45% 150px at bottom right,
        var(--bg3),
        transparent 400px
      ),
      radial-gradient(
        67% 350px at right,
        var(--bg2),
        transparent 75%
      ),
      linear-gradient(
        to right,
        var(--bg1),
        var(--bg1),
        var(--bg2)
      );
  }

  .topic-page main div.topic-title h1 {
    width: calc(100% - 64px);
    max-width: 790px;
  }

}

@media (min-width:1200px) {

  .topic-page main div.topic-title h1 {
    max-width: 1200px;
  }

  .topic-page .card {
      width: calc(100%/4 - 24px);
  }

  .topic-page .card:nth-of-type(3n) {
      margin-right: 32px;
  }

  .topic-page .card:nth-of-type(4n) {
      margin-right: 0;
  }

}
