.deck {
  margin: 0 auto;
  padding: 48px 32px;
  max-width: 443px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  background-color: lightskyblue;
  width: 100%;
  min-width: 268px;
  max-width: 378px;
  height: 400px;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width:600px) {

  .deck {
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - 64px);
    min-width: 568px;
    max-width: 790px;
  }

  .card {
    width: calc(100%/2 - 16px);
    margin-right: 32px;
    margin-bottom: 32px;
  }

  .card:nth-of-type(2n) {
    margin-right: 0;
  }

}

@media (min-width:1100px) {

  .deck {
    width: calc(100% - 64px);
    max-width: 1200px;
  }

  .card {
    width: calc(100%/3 - 22px);
  }

  .card:nth-of-type(2n) {
    margin-right: 32px;
  }

  .card:nth-of-type(3n) {
    margin-right: 0;
  }

}
