* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.topic-page {
  --bg1: #2c0167;
  --bg2: #fd8467;
  --bg3: #83106a;
}

.topic-page main div.default:first-child h1 {
  color: white;
  width: 100%;
  max-width: 378px;
  margin: auto;
  align-self: center;
}

.topic-page main div.default:first-child {
  height: 220px;
  background-color: var(--bg1); /* fallback bg color */
  display: flex;
  justify-content: start;
  background:
    radial-gradient(
      350px 100px at bottom left,
      var(--bg3),
      transparent 400px
    ),
    linear-gradient(
      to right,
      var(--bg1),
      var(--bg2)
    );
}

@media (min-width:600px) {

  .topic-page main div.default:first-child {
    height: 220px;
    background:
      radial-gradient(
        75% 250px at bottom left,
        var(--bg3),
        transparent 50%
      ),
      radial-gradient(
        25% 80px at top,
        var(--bg3),
        transparent 350px
      ),
      radial-gradient(
        45% 150px at bottom right,
        var(--bg3),
        transparent 400px
      ),
      radial-gradient(
        67% 350px at right,
        var(--bg2),
        transparent 75%
      ),
      linear-gradient(
        to right,
        var(--bg1),
        var(--bg1),
        var(--bg2)
      );
  }

  .topic-page main div.default:first-child h1 {
    width: calc(100% - 64px);
    max-width: 790px;
  }

}

@media (min-width: 1200px) {

  .topic-page main div.default:first-child h1 {
    max-width: 1200px;
  }

  .topic-page .deck {
    min-width: 1168px;
  }

  .topic-page .card {
    width: calc(100%/4 - 24px);
  }

  .topic-page .card:nth-of-type(3n) {
    margin-right: 32px;
  }

  .topic-page .card:nth-of-type(4n) {
    margin-right: 0;
  }

}