/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 a.learn-more::before {
  content: "Scopri di più"
}

a.action.load-more::before {
  content: "Mostra più articoli"
}

.post-page .articles::before {
  content: "Suggeriti per te";
}

.articles-empty::before {
  content: "Nessun articolo trovato";
}

.author-page .articles-empty::before {
  content: "Nessun articolo trovato di questo autor";
}

.topic-page .articles-empty::before {
  content: "Nessun articolo trovato per questa categoria";
}

.social::before {
  content: "Seguimi su";
}

.blank-page.error-404 main h2::before {
  content: "These are uncharted waters.";
}

.blank-page.error-404 main p.detail::before {
  content: "Pagina non trovata";
}

.blank-page.error-404 main .gotohome::before {
  content: "Vai alla home page ›";
}

.blank-page.error-404 main .searchadobe::before {
  content: "Cerca su Adobe.com ›";
}

.topic-page .dropdown-menu .search input::after  {
  content: "Cerca...";
}

.topic-page .filter-wrapper a.action.apply::before {
  content: "Applica";
}

.topic-page .filter-wrapper a.action.clear::before {
  content: "Rimuovi";
}

.topic-page .selection::before {
  content: "Mostra articoli ordinati per ";
}

.topic-page .selection a.user-filter::before {
  content: "Rimuovi";
}

.topic-page .articles-empty.user-filters::before {
  content: "Non ci sono risultati per questa ricerca";
}

.topic-page .articles-empty.user-filters .user-help:before {
  content: "Riprova ancora selezionando meno filtri o rimuovendo le selezioni precedenti";
}

.topic-page .selection a.action.clear-all::before {
  content: "Cancella";
}

.filter-wrapper .filter:first-child::before {
  content: "Filtri";
}

.filter .products button::before {
  content: "Prodotti";
}

.filter .industries button::before {
  content: "Settori";
}
