/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 a.learn-more::before {
  content: "Saiba mais >"
}

a.action.load-more::before {
  content: "Carregue mais artigos"
}

.post-page .articles::before {
  content: "Recomendado para você";
}

.articles-empty::before {
  content: "Nenhum artigo encontrado";
}

.author-page .articles-empty::before {
  content: 'Nenhum artigo encontrado por este autor';
}

.topic-page .articles-empty::before {
  content: 'Nenhum artigo encontrado nesta categoria';
}

.social::before {
  content: "Siga-me";
}

.blank-page.error-404 main h2::before {
  content: 'Estas são águas desconhecidas.';
}

.blank-page.error-404 main p.detail::before {
  content: "Desculpe, essa página não pode ser encontrada.";
}

.blank-page.error-404 main .gotohome::before {
  content: 'Vá para a página inicial ›';
}

.blank-page.error-404 main .searchadobe::before {
  content: 'Pesquisar em Adobe.com ›';
}

.topic-page .dropdown-menu .search input::after  {
  content: "Procurar...";
}

.topic-page .filter-wrapper a.action.apply::before {
  content: "Aplicar";
}

.topic-page .filter-wrapper a.action.clear::before {
  content: "Redefinir";
}

.topic-page .selection::before {
  content: "Mostrando artigos para";
}

.topic-page .selection a.user-filter::before {
  content: "Remover $1";
}

.topic-page .articles-empty.user-filters::before {
  content: "Desculpe, nenhum resultado correspondente";
}

.topic-page .articles-empty.user-filters .user-help:before {
  content: "Tente selecionar menos filtros ou limpar todas as seleções novamente.";
}

.topic-page .selection a.action.clear-all::before {
  content: "Limpar tudo";
}

.filter-wrapper .filter:first-child::before {
  content: "Filtros";
}

.filter .products button::before {
  content: "Produtos";
}

.filter .industries button::before {
  content: "Indústrias";
}
