/* gnav placeholder */


header .gnav {
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #EAEAEA;
  transition: all 0.3s;
  background-color: white;
  color: #2e2e2e;
  font-weight: 400;
}

header .gnav a:any-link {
  color: #2e2e2e;
}

header .gnav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  box-sizing: border-box;
  padding: 20px 16px 20px 21px;
  color: #2c2c2c;
}

header .gnav .gnav-hamburger {
  font-size: 19px;
}

header .gnav .gnav-signin {
  font-size: 14px;
}


header .gnav .gnav-logo img {
  height: 25px;
  width: 25px;
  padding-left: 17px;
  transform: translate(0,2px);
  box-sizing: content-box;    
}

header .gnav .gnav-hamburger::before {
  content: "\2630";
}

header .gnav .gnav-top .gnav-search,
header .gnav .gnav-left .gnav-logo,
header .gnav .gnav-top .gnav-left .gnav-section {
    display: none;
}


@media (min-width: 1200px) {

  header .gnav .gnav-center, 
  header .gnav .gnav-hamburger {
    display: none;
  }

  header .gnav .gnav-top .gnav-search,
  header .gnav .gnav-left .gnav-logo,
  header .gnav .gnav-top .gnav-left .gnav-section {
    display: block;
  }  
  
  header .gnav .gnav-top {
    color: #2c2c2c;
    font-size: 14px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }

  header .gnav .gnav-top .gnav-left {
    display: flex;
    align-items: center;
  }

  header .gnav .gnav-left .gnav-logo {
    min-width: 124px;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    font-weight: 700;
    padding-top: 6px;
    padding-right: 20px
  }

  header .gnav .gnav-left .gnav-logo img {
    height: 24px;
    width: 25px;
    margin-top: 3px;
  }

  header .gnav .gnav-left .gnav-logo span {
    color: #fa0f00;
    font-size: 18px;
    padding-left: 10px;
    display: inline-block;
    padding-top: 0px;
    vertical-align: top;
  }

  header .gnav .gnav-top .gnav-section {
    height: 64px;
    padding: 0 8.5px 1px 8.5px;
  }


  header .gnav .gnav-top .gnav-section span {
      margin: 0 12px;
      cursor: pointer;
  }

  header .gnav .gnav-top .gnav-section span:hover,
  header .gnav .gnav-top .gnav-section span a:hover {
    color: #1473e6;  
  }

  header .gnav .gnav-top .gnav-section .gnav-selected {
    border-bottom: 2px solid #2c2c2c;
    padding-top: 2px;
    font-weight: 700;
    display: inline-flex;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
  }

  header .gnav .gnav-top .gnav-button {
    font-size: 14px;
    margin-left: 0px;
    font-weight: 700;
    padding: 6px 16px 5px 16px;
    background-color: #1473e6;
  }      

  header .gnav .gnav-top .gnav-selected {
    font-weight: 700;
  }

  header .gnav .gnav-top .gnav-right {
    padding: 0 10px;
  }

  header .gnav .gnav-top .gnav-right > div {
    padding: 0px 6px 1px 6px;
  }

  header .gnav .gnav-top .gnav-right > div.gnav-search {
    padding: 6px 10px 2px 12px;
    fill: currentColor;
  }

  header .gnav .gnav-bottom {
    color: #707070;
    padding: 10px 12px;
    font-size: 12px;
  }

  header .gnav .gnav-bottom > span {
    padding: 0 8px;
    align-items: center;
  }

  header .gnav .gnav-drop {
    display: flex;
    align-items: center;
  }

  header .gnav .gnav-selected.drop::after {
    margin-left: 4px;      
  }
  
  header .gnav .gnav-drop::after {
    display: flex;
    width: 5px;
    height: 5px;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: #2c2c2c;
    transform-origin: 75% 75%;
    transform: rotate( 45deg );
    transition: transform .1s ease;
    content: "";
    margin-left: 5px;
    margin-right: 3px;
  }

  header .gnav .gnav-top .gnav-right {
    display: flex;
    align-items: center;
  }

  header .gnav .gnav-top .gnav-left .gnav-section {
    display: flex;
    align-items: center;
  }
}