<div class="modalContainer static hide-all">
    <div class="modal helix-Author-Hide">
        <div class="helix-Modal_overlay mobile-place-center mobile-place-middle is-Open"
            data-conf-display="onHashChange">
            <div class="helix-Modal mobile-width-100 mobile-height-100 tablet-width-640 tablet-height-auto desktop-width-1024 is-Open"
                id="languageNavigation">
                <h6 id="languageNavigation-modalTitle" class="hide-all">Language Navigation</h6>
                <p id="languageNavigation-modalDescription" class="hide-all">Language Navigation</p>
                <a href="#" class="helix-CloseButton"><i
                        class="helix-CloseButton_icon spectrum-close-circle-dark"></i></a>
                <nav class="language-Navigation">
                    <h2 class="language-Navigation_heading"></h2>
                    <p class="language-Navigation_subheading"></p>
                    <ul class="language-Navigation_region-List">
                        <li>
                            <h3>Americas</h3>
                        </li>
                        <li>
                            <a href="/br/" hreflang="br">
                                Brasil
                            </a>
                        </li>
                        <li>
                            <a href="/ca/" hreflang="ca">
                                Canada - English
                            </a>
                        </li>
                        <li>
                            <a href="/ca_fr/" hreflang="ca_fr">
                                Canada - Français
                            </a>
                        </li>
                        <li>
                            <a href="/la/" hreflang="la">
                                Latinoamérica
                            </a>
                        </li>
                        <li>
                            <a href="/mx/" hreflang="mx">
                                México
                            </a>
                        </li>
                        <li>
                            <a href="/" hreflang="us">
                                United States
                            </a>
                        </li>
                        <li>
                            <h3>Europe, Middle East and Africa</h3>
                        </li>
                        <li>
                            <a href="/africa/" hreflang="africa">
                                Africa - English
                            </a>
                        </li>
                        <li>
                            <a href="/be_nl/" hreflang="be_nl">
                                België - Nederlands
                            </a>
                        </li>
                        <li>
                            <a href="/be_fr/" hreflang="be_fr">
                                Belgique - Français
                            </a>
                        </li>
                        <li>
                            <a href="/be_en/" hreflang="be_en">
                                Belgium - English
                            </a>
                        </li>
                        <li>
                            <a href="/cz/" hreflang="cz">
                                Česká republika
                            </a>
                        </li>
                        <li>
                            <a href="/cis_en/" hreflang="cis_en">
                                CIS - English
                            </a>
                        </li>
                        <li>
                            <a href="/cy_en/" hreflang="cy_en">
                                Cyprus - English
                            </a>
                        </li>
                        <li>
                            <a href="/dk/" hreflang="dk">
                                Danmark
                            </a>
                        </li>
                        <li>
                            <a href="/de/" hreflang="de">
                                Deutschland
                            </a>
                        </li>
                        <li>
                            <a href="/ee/" hreflang="ee">
                                Eesti
                            </a>
                        </li>
                        <li>
                            <a href="/es/" hreflang="es">
                                España
                            </a>
                        </li>
                        <li>
                            <a href="/fr/" hreflang="fr">
                                France
                            </a>
                        </li>
                        <li>
                            <a href="/gr_en/" hreflang="gr_en">
                                Greece - English
                            </a>
                        </li>
                        <li>
                            <a href="/ie/" hreflang="ie">
                                Ireland
                            </a>
                        </li>
                        <li>
                            <a href="/il_en/" hreflang="il_en">
                                Israel - English
                            </a>
                        </li>
                        <li>
                            <a href="/it/" hreflang="it">
                                Italia
                            </a>
                        </li>
                        <li>
                            <a href="/lv/" hreflang="lv">
                                Latvija
                            </a>
                        </li>
                        <li>
                            <a href="/lt/" hreflang="lt">
                                Lietuva
                            </a>
                        </li>
                        <li>
                            <a href="/lu_de/" hreflang="lu_de">
                                Luxembourg - Deutsch
                            </a>
                        </li>
                        <li>
                            <a href="/lu_en/" hreflang="lu_en">
                                Luxembourg - English
                            </a>
                        </li>
                        <li>
                            <a href="/lu_fr/" hreflang="lu_fr">
                                Luxembourg - Français
                            </a>
                        </li>
                        <li>
                            <a href="/hu/" hreflang="hu">
                                Magyarország
                            </a>
                        </li>
                        <li>
                            <a href="/mt/" hreflang="mt">
                                Malta - English
                            </a>
                        </li>
                        <li>
                            <a href="/mena_en/" hreflang="mena_en">
                                Middle East and North Africa - English
                            </a>
                        </li>
                        <li>
                            <a href="/nl/" hreflang="nl">
                                Nederland
                            </a>
                        </li>
                        <li>
                            <a href="/no/" hreflang="no">
                                Norge
                            </a>
                        </li>
                        <li>
                            <a href="/at/" hreflang="at">
                                Österreich
                            </a>
                        </li>
                        <li>
                            <a href="/pl/" hreflang="pl">
                                Polska
                            </a>
                        </li>
                        <li>
                            <a href="/pt/" hreflang="pt">
                                Portugal
                            </a>
                        </li>
                        <li>
                            <a href="/ro/" hreflang="ro">
                                România
                            </a>
                        </li>
                        <li>
                            <a href="/ch_de/" hreflang="ch_de">
                                Schweiz
                            </a>
                        </li>
                        <li>
                            <a href="/si/" hreflang="si">
                                Slovenija
                            </a>
                        </li>
                        <li>
                            <a href="/sk/" hreflang="sk">
                                Slovensko
                            </a>
                        </li>
                        <li>
                            <a href="/ch_fr/" hreflang="ch_fr">
                                Suisse
                            </a>
                        </li>
                        <li>
                            <a href="/fi/" hreflang="fi">
                                Suomi
                            </a>
                        </li>
                        <li>
                            <a href="/se/" hreflang="se">
                                Sverige
                            </a>
                        </li>
                        <li>
                            <a href="/ch_it/" hreflang="ch_it">
                                Svizzera
                            </a>
                        </li>
                        <li>
                            <a href="/tr/" hreflang="tr">
                                Türkiye
                            </a>
                        </li>
                        <li>
                            <a href="/uk/" hreflang="uk">
                                United Kingdom
                            </a>
                        </li>
                        <li>
                            <a href="/bg/" hreflang="bg">
                                България
                            </a>
                        </li>
                        <li>
                            <a href="/ru/" hreflang="ru">
                                Россия
                            </a>
                        </li>
                        <li>
                            <a href="/cis_ru/" hreflang="cis_ru">
                                СНГ – русский
                            </a>
                        </li>
                        <li>
                            <a href="/ua/" hreflang="ua">
                                Україна
                            </a>
                        </li>
                        <li>
                            <a href="/mena_ar/" hreflang="mena_ar">
                                الشرق الأوسط وشمال أفريقيا - اللغة العربية
                            </a>
                        </li>
                        <li>
                            <a href="/il_he/" hreflang="il_he">
                                ישראל - עברית
                            </a>
                        </li>
                        <li>
                            <h3>Asia Pacific</h3>
                        </li>
                        <li>
                            <a href="/au/" hreflang="au">
                                Australia
                            </a>
                        </li>
                        <li>
                            <a href="/hk_en/" hreflang="hk_en">
                                Hong Kong SAR of China
                            </a>
                        </li>
                        <li>
                            <a href="/in/" hreflang="in">
                                India - English
                            </a>
                        </li>
                        <li>
                            <a href="/nz/" hreflang="nz">
                                New Zealand
                            </a>
                        </li>
                        <li>
                            <a href="/sea/" hreflang="sea">
                                Southeast Asia (Includes Indonesia, Malaysia, Philippines, Singapore, Thailand, and
                                Vietnam) - English
                            </a>
                        </li>
                        <li>
                            <a href="/cn/" hreflang="cn">
                                中国
                            </a>
                        </li>
                        <li>
                            <a href="/hk_zh/" hreflang="hk_zh">
                                中國香港特別行政區
                            </a>
                        </li>
                        <li>
                            <a href="/tw/" hreflang="tw">
                                台灣地區
                            </a>
                        </li>
                        <li>
                            <a href="/jp/" hreflang="jp">
                                日本
                            </a>
                        </li>
                        <li>
                            <a href="/kr/" hreflang="kr">
                                한국
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
