<div class="modalContainer static hide-all">
    <div class="modal helix-Author-Hide">
        <div class="helix-Modal_overlay mobile-place-center mobile-place-middle is-Open"
            data-conf-display="onHashChange">
            <div class="helix-Modal mobile-width-100 mobile-height-100 tablet-width-640 tablet-height-auto desktop-width-1024 is-Open"
                id="languageNavigation">
                <h6 id="languageNavigation-modalTitle" class="hide-all">Language Navigation</h6>
                <p id="languageNavigation-modalDescription" class="hide-all">Language Navigation</p>
                <a href="#" class="helix-CloseButton"><i
                        class="helix-CloseButton_icon spectrum-close-circle-dark"></i></a>
                <nav class="language-Navigation">
                    <h2 class="language-Navigation_heading"></h2>
                    <p class="language-Navigation_subheading"></p>
                    <ul class="language-Navigation_region-List">
                        <li>
                            <h3>Americas</h3>
                        </li>
                        <li>
                            <a href="/ms/br/" hreflang="br">
                                Brasil
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ca/" hreflang="ca">
                                Canada - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ca_fr/" hreflang="ca_fr">
                                Canada - Français
                            </a>
                        </li>
                        <li>
                            <a href="/ms/la/" hreflang="la">
                                Latinoamérica
                            </a>
                        </li>
                        <li>
                            <a href="/ms/mx/" hreflang="mx">
                                México
                            </a>
                        </li>
                        <li>
                            <a href="/" hreflang="us">
                                United States
                            </a>
                        </li>
                        <li>
                            <h3>Europe, Middle East and Africa</h3>
                        </li>
                        <li>
                            <a href="/ms/africa/" hreflang="africa">
                                Africa - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/be_nl/" hreflang="be_nl">
                                België - Nederlands
                            </a>
                        </li>
                        <li>
                            <a href="/ms/be_fr/" hreflang="be_fr">
                                Belgique - Français
                            </a>
                        </li>
                        <li>
                            <a href="/ms/be_en/" hreflang="be_en">
                                Belgium - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/cz/" hreflang="cz">
                                Česká republika
                            </a>
                        </li>
                        <li>
                            <a href="/ms/cis_en/" hreflang="cis_en">
                                CIS - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/cy_en/" hreflang="cy_en">
                                Cyprus - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/dk/" hreflang="dk">
                                Danmark
                            </a>
                        </li>
                        <li>
                            <a href="/ms/de/" hreflang="de">
                                Deutschland
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ee/" hreflang="ee">
                                Eesti
                            </a>
                        </li>
                        <li>
                            <a href="/ms/es/" hreflang="es">
                                España
                            </a>
                        </li>
                        <li>
                            <a href="/ms/fr/" hreflang="fr">
                                France
                            </a>
                        </li>
                        <li>
                            <a href="/ms/gr_en/" hreflang="gr_en">
                                Greece - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ie/" hreflang="ie">
                                Ireland
                            </a>
                        </li>
                        <li>
                            <a href="/ms/il_en/" hreflang="il_en">
                                Israel - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/it/" hreflang="it">
                                Italia
                            </a>
                        </li>
                        <li>
                            <a href="/ms/lv/" hreflang="lv">
                                Latvija
                            </a>
                        </li>
                        <li>
                            <a href="/ms/lt/" hreflang="lt">
                                Lietuva
                            </a>
                        </li>
                        <li>
                            <a href="/ms/lu_de/" hreflang="lu_de">
                                Luxembourg - Deutsch
                            </a>
                        </li>
                        <li>
                            <a href="/ms/lu_en/" hreflang="lu_en">
                                Luxembourg - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/lu_fr/" hreflang="lu_fr">
                                Luxembourg - Français
                            </a>
                        </li>
                        <li>
                            <a href="/ms/hu/" hreflang="hu">
                                Magyarország
                            </a>
                        </li>
                        <li>
                            <a href="/ms/mt/" hreflang="mt">
                                Malta - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/mena_en/" hreflang="mena_en">
                                Middle East and North Africa - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/nl/" hreflang="nl">
                                Nederland
                            </a>
                        </li>
                        <li>
                            <a href="/ms/no/" hreflang="no">
                                Norge
                            </a>
                        </li>
                        <li>
                            <a href="/ms/at/" hreflang="at">
                                Österreich
                            </a>
                        </li>
                        <li>
                            <a href="/ms/pl/" hreflang="pl">
                                Polska
                            </a>
                        </li>
                        <li>
                            <a href="/ms/pt/" hreflang="pt">
                                Portugal
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ro/" hreflang="ro">
                                România
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ch_de/" hreflang="ch_de">
                                Schweiz
                            </a>
                        </li>
                        <li>
                            <a href="/ms/si/" hreflang="si">
                                Slovenija
                            </a>
                        </li>
                        <li>
                            <a href="/ms/sk/" hreflang="sk">
                                Slovensko
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ch_fr/" hreflang="ch_fr">
                                Suisse
                            </a>
                        </li>
                        <li>
                            <a href="/ms/fi/" hreflang="fi">
                                Suomi
                            </a>
                        </li>
                        <li>
                            <a href="/ms/se/" hreflang="se">
                                Sverige
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ch_it/" hreflang="ch_it">
                                Svizzera
                            </a>
                        </li>
                        <li>
                            <a href="/ms/tr/" hreflang="tr">
                                Türkiye
                            </a>
                        </li>
                        <li>
                            <a href="/ms/uk/" hreflang="uk">
                                United Kingdom
                            </a>
                        </li>
                        <li>
                            <a href="/ms/bg/" hreflang="bg">
                                България
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ru/" hreflang="ru">
                                Россия
                            </a>
                        </li>
                        <li>
                            <a href="/ms/cis_ru/" hreflang="cis_ru">
                                СНГ – русский
                            </a>
                        </li>
                        <li>
                            <a href="/ms/ua/" hreflang="ua">
                                Україна
                            </a>
                        </li>
                        <li>
                            <a href="/ms/mena_ar/" hreflang="mena_ar">
                                الشرق الأوسط وشمال أفريقيا - اللغة العربية
                            </a>
                        </li>
                        <li>
                            <a href="/ms/il_he/" hreflang="il_he">
                                ישראל - עברית
                            </a>
                        </li>
                        <li>
                            <h3>Asia Pacific</h3>
                        </li>
                        <li>
                            <a href="/ms/au/" hreflang="au">
                                Australia
                            </a>
                        </li>
                        <li>
                            <a href="/ms/hk_en/" hreflang="hk_en">
                                Hong Kong SAR of China
                            </a>
                        </li>
                        <li>
                            <a href="/ms/in/" hreflang="in">
                                India - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/nz/" hreflang="nz">
                                New Zealand
                            </a>
                        </li>
                        <li>
                            <a href="/ms/sea/" hreflang="sea">
                                Southeast Asia (Includes Indonesia, Malaysia, Philippines, Singapore, Thailand, and
                                Vietnam) - English
                            </a>
                        </li>
                        <li>
                            <a href="/ms/cn/" hreflang="cn">
                                中国
                            </a>
                        </li>
                        <li>
                            <a href="/ms/hk_zh/" hreflang="hk_zh">
                                中國香港特別行政區
                            </a>
                        </li>
                        <li>
                            <a href="/ms/tw/" hreflang="tw">
                                台灣地區
                            </a>
                        </li>
                        <li>
                            <a href="/ms/jp/" hreflang="jp">
                                日本
                            </a>
                        </li>
                        <li>
                            <a href="/ms/kr/" hreflang="kr">
                                한국
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
